/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */


#dagos-scheduler-message {
	margin-bottom: 2em;
}

#dagos-scheduler-form-container {
	margin-top: 2em;
}

#dagos-scheduler-form-container #schedule-form {

}

#dagos-scheduler-form-container #schedule-form>div {
	margin-bottom: 1em;
}

#dagos-scheduler-form-container #schedule-form span {
	color: red;
}